/* 应该是所有的主要阴影的参数 */
.primary-shadow {
  /**
   * 21deg = 180deg - 159deg
   * 0.5px = 5px * 0.2775 * sin(21deg)
   * 1.3px = 5px * 0.2775 * cos(21deg)
   * 7.2px = 26px * 0.2775
   */
  box-shadow: 0.5px 1.3px 7.2px #963a5b5c;
}

.area-fade-enter {
  opacity: 0;
}
.area-fade-leave {
  opacity: 1;
}
.area-fade-enter-active {
  transition: all 2s steps(1, end); /* cubic-bezier(1,0,1,0); */
}
.area-fade-leave-active {
  transition: all 2s steps(1, end); /* cubic-bezier(1,0,1,0); */
}
